@import
"https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family:'Zilla Slab', serif;
    margin-bottom: 1rem !important;
}

p, td, th {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2rem;
}

section, nav {
    max-width: 900px;
    margin: 0 auto;
}

div.question-answer-container {
    /*max-width: 75%;*/
    margin: 0 auto;
}

div.question-answer-container p {
    font-size: 1.4em;
    text-indent: 1.55em;
}

img.centered-image {
    display: block;
    margin: 0 auto;
}

iframe {
    display: block;
    margin: auto;
}

img.small-image {
    display: block;
    width: 60%;
}